<!-- header -->
<header class="header header-sticky" style="background-color: #333333 !important;">
    <div class="container">
        <div class="row no-gutters">
            <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark">
                <a href="/home" class="navbar-brand"><img src="assets/images/logo.svg" alt="Logo">
                </a>
                <button (click)="menu($event)" class="trigger d-flex d-md-none d-lg-none" style="background-color: transparent; border:none;">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav ml-auto mt-md-0 d-none d-md-flex">
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/shop" aria-haspopup="true" aria-expanded="false">
                            Shop
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/cart" aria-haspopup="true" aria-expanded="false">
                            Cart
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/profile" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/pages" aria-haspopup="true" aria-expanded="false">
                            Pages
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/blog" aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                    </li>
                </ul>


            </nav>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="bg-dark text-white py-0">
    <div class="container">
        <div class="row separated">
            <div class="col-lg-6 py-7">
                <div class="row">
                    <div class="col-md-8">
                        <p>Thanks to <a href="https://www.opumo.com/" class="underline">Opumo</a> for
                            the product images
                            used in this demo theme. Head over to <a href="https://www.opumo.com/"
                                class="underline">their
                                store</a> to get these products.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="eyebrow mb-2">Quick Links</h4>
                        <ul class="list-group list-group-columns">
                            <li class="list-group-item"><a href="about.html">About</a></li>
                            <li class="list-group-item"><a href="contact.html">Contact Us</a></li>
                            <li class="list-group-item"><a href="faq.html">FAQ</a></li>
                            <li class="list-group-item"><a href="blog.html">Blog</a></li>
                            <li class="list-group-item"><a href="text.html">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 py-7">
                <div class="row justify-content-end">
                    <div class="col-lg-10">
                        <h4 class="eyebrow mb-2">Subscribe</h4>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Email"
                                aria-label="Subscribe" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button style="border-radius:unset;" class="btn btn-white" type="button"
                                    id="button-addon2">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end d-none d-md-none d-lg-flex">
                    <div class="col-lg-10">
                        <h4 class="eyebrow mb-2">Follow us</h4>
                        <nav class="nav nav-icons">
                            <a class="nav-link" href="#!"><i class="icon-facebook-o"></i></a>
                            <a class="nav-link" href="#!"><i class="icon-twitter-o"></i></a>
                            <a class="nav-link" href="#!"><i class="icon-youtube-o"></i></a>
                        </nav>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-10">
                        <p class="mb-2">Copyright <i>Company</i> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<nav id="bt-menu" class="bt-menu" style="font-family:'Raleway'!important;">
    <!-- <a href="#" class="trigger"><span>Menu</span></a> -->
    <ul id="menu-ul">
        <li>Logo</li>
        <li>
            <a href="/home">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 64 64"
                        aria-labelledby="title" aria-describedby="desc" role="img"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path data-name="layer1"
                            d="M54 26.267l7.555 7.3a.25.25 0 0 1-.174.43H54V62H40V44H24v18H10V34H2.618a.25.25 0 0 1-.174-.43L32 5l13 12.567V12h9z"
                            fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                            stroke-linejoin="round"></path>
                    </svg>
                </span>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/shop">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 64 64"
                        aria-labelledby="title" aria-describedby="desc" role="img"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path data-name="layer2"
                            d="M38 8.4A20 20 0 0 1 54 28v2m-44 0v-2A20 20 0 0 1 26 8.4M38 8a4 4 0 0 1-4 4h-4a4 4 0 0 1-4-4 4 4 0 0 1 4-4h4a4 4 0 0 1 4 4z"
                            fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                        <path data-name="layer1" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M32 38v14M20 38v14m24-14v14M6.1 30L12 60h40l6-30M2 30h60" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                    </svg>
                </span>

                <span>Shop</span>
            </a>
        </li>
        <li>
            <a href="/cart">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 64 64"
                        aria-labelledby="title" aria-describedby="desc" role="img"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path data-name="layer2" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M18 23.5l10-10 10 10m8 0v-10h12v10" stroke-linejoin="round" stroke-linecap="round">
                        </path>
                        <path data-name="layer2" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M36 21.5l7-17 7 3-2.4 6m-1.6 4l-2.4 6" stroke-linejoin="round" stroke-linecap="round">
                        </path>
                        <path data-name="layer1" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M2 7.5h10l10 40h32l8-24H16" stroke-linejoin="round" stroke-linecap="round"></path>
                        <circle data-name="layer1" cx="24" cy="55.5" r="4" fill="none" stroke="#FFFFFF"
                            stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round">
                        </circle>
                        <circle data-name="layer1" cx="50" cy="55.5" r="4" fill="none" stroke="#FFFFFF"
                            stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round">
                        </circle>
                    </svg>
                </span>

                <span>Cart</span>
            </a>
        </li>
        <li><a href="/profile">
                <span>
                    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                        aria-labelledby="title" aria-describedby="desc" role="img"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path stroke-width="2" stroke-miterlimit="10" stroke="#FFFFFF" fill="none"
                            d="M41.713 48.744c-1.968-1.476-1.71-3.069-1.71-4.244v-4m-16 1v3c0 1.285.425 3.083-2.194 4.67"
                            data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                        <path stroke-width="2" stroke-miterlimit="10" stroke="#FFFFFF" fill="none"
                            d="M37.601 42.5a16.786 16.786 0 0 0 7.168-10.135c3.026-.037 4.234-2.931 4.234-6.937 0-1.994 0-4.928-3-4.928v-2m-29 0v2.006c-2-.006-3 2.994-3 4.988 0 4.006 1.391 7.006 4.436 7.006h.002a15.21 15.21 0 0 0 7.17 10m20.392-24v-2c0-10.4-7.373-14-14-14s-15 3.517-15 13.916V18.5c12 0 13-8 21-8 7.459 0 8 8 8 8z"
                            data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                        <path stroke-width="2" stroke-miterlimit="10" stroke="#FFFFFF" fill="none"
                            d="M14.003 51.5c-12.61 2-12.001 11-12.001 11h30L21.809 49.17c-1.458.885-3.856 1.703-7.806 2.33zm36 0c-4.436-.74-6.91-1.72-8.29-2.756L32.002 62.5h30s0-9-12-11z"
                            data-name="layer1" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                </span>
                <span>Profile</span>
            </a>
        </li>
        <li><a href="/pages">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="24px" height="24px"
                        aria-labelledby="title" aria-describedby="desc" role="img"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle data-name="layer2" cx="32" cy="32" r="30" fill="none" stroke="#FFFFFF"
                            stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round">
                        </circle>
                        <path data-name="layer1" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M28 26h4v22m-4 .008h8" stroke-linejoin="round" stroke-linecap="round"></path>
                        <circle data-name="layer1" cx="31" cy="19" r="2" fill="none" stroke="#FFFFFF"
                            stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round">
                        </circle>
                    </svg>
                </span>
                <span>Pages</span>
            </a>
        </li>
        <li><a href="/blog">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="24px" height="24px"
                        aria-labelledby="title" aria-describedby="desc" role="img"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path data-name="layer1" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M18 2v60" stroke-linejoin="round" stroke-linecap="round"></path>
                        <path data-name="layer2" d="M54 62H11a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h43z" fill="none"
                            stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                        <path data-name="layer1" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M28 14h16v8H28z" stroke-linejoin="round" stroke-linecap="round">
                        </path>
                    </svg>
                </span>
                <span>Blog</span>
            </a>
        </li>
        <li><a href="/login">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 64 64"
                        aria-labelledby="title" aria-describedby="desc" role="img"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path data-name="layer1"
                            d="M57.6 6.4a15 15 0 0 0-23.8 17.7L13.6 44.4l-5.9-6L2 44.1 8 50l-4.7 4.7a4.3 4.3 0 1 0 6 6l30.6-30.5A15 15 0 0 0 57.6 6.4zM51.9 22a7 7 0 1 1 0-9.9 7 7 0 0 1 0 9.9z"
                            fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                    </svg>
                </span>
                <span>Login</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 64 64"
                        aria-labelledby="title" aria-describedby="desc" role="img"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path data-name="layer2" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M28 24l-9 8 9 8m26-8H19" stroke-linejoin="round" stroke-linecap="round"></path>
                        <path data-name="layer1" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2"
                            d="M10 12v40" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                </span>
                <span>Logout</span>
            </a>
        </li>
    </ul>
    <ul>
        <li><a href="#!"><i class="icon-twitter-o"></i></a></li>
        <li><a href="#!"><i class="icon-facebook-o"></i></a></li>
        <li><a href="#!"><i class="icon-youtube-o"></i></a></li>
    </ul>
</nav>