<title>{{title}}</title>

<!-- breadcrumbs -->
<section class="breadcrumbs bg-light pt-9">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product - {{id}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


<!-- product -->
<section class="pt-5">
    <div class="container">
      <div class="row gutter-2 gutter-md-4 justify-content-between">

        <div class="col-lg-5 order-2">
          <div class="sticky-top">

            <div class="row">
              <div class="col-12">
                <span class="item-brand">Unrecorded</span>
                <h1 class="item-title">Red Organic Cotton Sweater</h1>
                <span class="item-price">$82</span>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-12">
                <div class="form-group">
                  <label>Size</label>
                  <div class="btn-group-toggle btn-group-square" data-toggle="buttons">
                    <label class="btn active">
                      <input type="radio" name="options" id="option1" checked> S
                    </label>
                    <label class="btn">
                      <input type="radio" name="options" id="option2"> M
                    </label>
                    <label class="btn">
                      <input type="radio" name="options" id="option3"> L
                    </label>
                    <label class="btn">
                      <input type="radio" name="options" id="option4"> XL
                    </label>
                    <label class="btn">
                      <input type="radio" name="options" id="option5"> XXL
                    </label>
                    <label class="btn">
                      <input type="radio" name="options" id="option5"> 3XL
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-1">
                <div class="form-group">
                  <label>Color</label>
                  <div class="btn-group-toggle btn-group-square btn-group-colors" data-toggle="buttons">
                    <label class="btn active text-red">
                      <input type="radio" name="options" id="option1-2" checked>
                    </label>
                    <label class="btn text-blue">
                      <input type="radio" name="options" id="option2-2">
                    </label>
                    <label class="btn text-yellow">
                      <input type="radio" name="options" id="option3-2">
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <a href="#!" class="btn btn-block btn-lg btn-primary">Add to Cart</a>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6 order-1">
          <div class="row gutter-3">
            <div class="col-12">
              <figure class="equal zoom">
                <img class="zoom-img" src="assets/images/demo/product-34.jpg" alt="Product">
              </figure>
            </div>
            <div class="col-12">
              <figure class="equal zoom">
                <img class="zoom-img" src="assets/images/demo/product-34-3.jpg" alt="Product">
              </figure>
            </div>
            <div class="col-12">
              <figure class="equal zoom">
                <img class="zoom-img" src="assets/images/demo/product-34-2.jpg" alt="Product">
              </figure>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- info -->
  <section class="separator-top">
    <div class="container">
      <div class="row gutter-4 justify-content-between">
        <div class="col-lg-9 order-2 order-lg-1">
          <div class="row gutter-2">
            <div class="col-md-4">
              <ul class="nav nav-tabs flex-md-column lavalamp" id="component-2" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#component-2-1" role="tab" aria-controls="component-2-1" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#component-2-2" role="tab" aria-controls="component-2-2" aria-selected="false">Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#component-2-3" role="tab" aria-controls="component-2-3" aria-selected="false">Delivery & Returns</a>
                </li>
              </ul>
            </div>
            <div class="col-md-8">
              <div class="tab-content" id="component-2-content">
                <div class="tab-pane fade show active" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1">
                  <p>Created out of the appreciation for well-made things, the love for great design and because founders’ Jolle and Daniel care about the planet and the people on it, Unrecorded represents the new wave of menswear brands that are rebelling against fast fashion.</p>
                </div>
                <div class="tab-pane fade" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
                  <ul class="list-group list-group-line">
                    <li class="list-group-item">100% organic cotton (GOTS Certified)</li>
                    <li class="list-group-item">360 grams French terry knit fabric</li>
                    <li class="list-group-item">Made in Braga, Portugal</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="component-2-3" role="tabpanel" aria-labelledby="component-2-3">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dignissimos illum quisquam repellendus, laboriosam perspiciatis aliquid, possimus hic sunt omnis iusto enim ratione quod natus doloribus optio, recusandae eius laudantium.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe reprehenderit ab fugiat, quia mollitia. Similique earum dolore dolores eveniet fuga velit, in architecto. Nam explicabo, praesentium dicta quam odio quia!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 order-1 order-lg-2 text-lg-right">
          <div class="rate">
            <span>4.9</span>
            <a data-toggle="modal" data-target="#reviews" class="action eyebrow text-primary underline">View Reviews</a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- related products -->
  <section class="separator-top no-overflow">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-3">
          <ul class="nav nav-tabs lavalamp" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Related Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bought With This</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="owl-carousel owl-carousel-arrows visible" data-items="[4,4,2,1]" data-margin="10" data-loop="true" data-dots="true" data-nav="true">
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-23.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Moss Green T-Four BT Earphones</a></h3>
                    <div class="product-price">
                      <span>$50</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-24.jpg" alt="Image">
                      <img src="assets/images/demo/product-24-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Black Closca Helmet</a></h3>
                    <div class="product-price">
                      <span>$132</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-25.jpg" alt="Image">
                      <img src="assets/images/demo/product-25-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Gravel Black Sigg Water Bottle</a></h3>
                    <div class="product-price">
                      <span>$23</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-11.jpg" alt="Image">
                      <img src="assets/images/demo/product-11-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Black Low Curve Iceman Trimix Sneakers</a></h3>
                    <div class="product-price">
                      <span>$271</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-26.jpg" alt="Image">
                      <img src="assets/images/demo/product-26-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Black / Black V03D Watch</a></h3>
                    <div class="product-price">
                      <span>$213</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-27.jpg" alt="Image">
                      <img src="assets/images/demo/product-27-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Dark Navy Stealth Till Bag</a></h3>
                    <div class="product-price">
                      <span>$57</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-9.jpg" alt="Image">
                      <img src="assets/images/demo/product-9-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Black Denim Jacket</a></h3>
                    <div class="product-price">
                      <span>$183</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="owl-carousel owl-carousel-arrows visible" data-items="[4,4,2,1]" data-margin="10" data-loop="true" data-dots="true" data-nav="true">
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-9.jpg" alt="Image">
                      <img src="assets/images/demo/product-9-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Black Denim Jacket</a></h3>
                    <div class="product-price">
                      <span>$183</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-25.jpg" alt="Image">
                      <img src="assets/images/demo/product-25-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Gravel Black Sigg Water Bottle</a></h3>
                    <div class="product-price">
                      <span>$23</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-24.jpg" alt="Image">
                      <img src="assets/images/demo/product-24-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Black Closca Helmet</a></h3>
                    <div class="product-price">
                      <span>$132</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-27.jpg" alt="Image">
                      <img src="assets/images/demo/product-27-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Dark Navy Stealth Till Bag</a></h3>
                    <div class="product-price">
                      <span>$57</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-11.jpg" alt="Image">
                      <img src="assets/images/demo/product-11-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Black Low Curve Iceman Trimix Sneakers</a></h3>
                    <div class="product-price">
                      <span>$271</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-26.jpg" alt="Image">
                      <img src="assets/images/demo/product-26-2.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Black / Black V03D Watch</a></h3>
                    <div class="product-price">
                      <span>$213</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
                <div class="product">
                  <figure class="product-image">
                    <a href="#!">
                      <img src="assets/images/demo/product-23.jpg" alt="Image">
                    </a>
                  </figure>
                  <div class="product-meta">
                    <h3 class="product-title"><a href="#!">Moss Green T-Four BT Earphones</a></h3>
                    <div class="product-price">
                      <span>$50</span>
                      <span class="product-action">
                        <a href="#!">Add to cart</a>
                      </span>
                    </div>
                    <a href="#!" class="product-like"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
