<title>{{title}}</title>

<!-- slider -->
<div class="swiper-container swiper-container-alt">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="image image-overlay image-zoom" style="background-image:url(assets/images/background-4.jpg)"></div>
      <div class="container">
        <div class="row align-items-center justify-content-center vh-80">
          <div class="col-lg-8 text-white text-center" data-swiper-parallax-y="-100%">
            <h1 class="display-2 mb-2">Your <b>perfect workspace</b> is waiting for you.</h1>
            <a routerLink="/shop" class="btn btn-white">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="image image-overlay image-zoom" style="background-image:url(assets/images/background-5.jpg)"></div>
      <div class="container">
        <div class="row align-items-center justify-content-center vh-80">
          <div class="col-lg-6 text-white text-center" data-swiper-parallax-y="-100%">
            <h1 class="display-2 mb-2">Transform your home with us.</h1>
            <a routerLink="/shop" class="btn btn-outline-white">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<section class="py-8 pb-1 ftco-section-2">
  <div class="photograhy">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center">
          <h2>Popular Vendors</h2>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-6 col-md-4 p-1">
          <a [routerLink]="['/shops', 'gucci']" class="photography-entry img d-flex justify-content-center align-items-center"
            style="background-image: url(assets/images/gucci.jpg);">
            <div class="overlay"></div>
            <div class="text text-center">
              <span class="btn btn-white btn-action vendor">
                Gucci
                <span class="icon-arrow-right"></span>
              </span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4 p-1 ">
          <a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
            style="background-image: url(assets/images/walmart.jpg);">
            <div class="overlay"></div>
            <div class="text text-center">
              <!-- <h3 class="text-white">Walmart</h3>
                                    <span class="tag text-white">Grocery</span> -->
              <span class="btn btn-white btn-action vendor">
                Walmart
                <span class="icon-arrow-right"></span>
              </span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4 p-1 ">
          <a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
            style="background-image: url(assets/images/coffee.png);">
            <div class="overlay"></div>
            <div class="text text-center">
              <!-- <h3>Store 03</h3>
                                    <span class="tag">Fashion</span> -->
              <span class="btn btn-white btn-action vendor">
                Walmart
                <span class="icon-arrow-right"></span>
              </span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4 p-1 ">
          <a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
            style="background-image: url(assets/images/coffee-2.png);">
            <div class="overlay"></div>
            <div class="text text-center">
              <!-- <h3>Store 04</h3>
                                    <span class="tag">Accessories</span> -->
              <span class="btn btn-white btn-action vendor">
                Walmart
                <span class="icon-arrow-right"></span>
              </span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4 p-1 ">
          <a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
            style="background-image: url(assets/images/coffee-3.png);">
            <div class="overlay"></div>
            <div class="text text-center">
              <!-- <h3>Store 05</h3>
                                    <span class="tag">Home & Furniture</span> -->
              <span class="btn btn-white btn-action vendor">
                Walmart
                <span class="icon-arrow-right"></span>
              </span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4 p-1 ">
          <a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
            style="background-image: url(assets/images/coffee-4.png);">
            <div class="overlay"></div>
            <div class="text text-center">
              <!-- <h3>Store 06</h3>
                                    <span class="tag">Baggages </span> -->
              <span class="btn btn-white btn-action vendor">
                Walmart
                <span class="icon-arrow-right"></span>
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
          <div class="col text-center">
              <a [routerLink]="['/shops']" class="btn btn-outline-secondary">View All</a>
          </div>
      </div>
    </div>
  </div>

</section>

<section class="py-5 mb-4">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Shop by Category</h2>
            </div>
        </div>
        <div class="row gutter-1">
            <div class="col-6 col-md-4">
                <a href="#!" class="card card-equal card-scale">
                    <span class="image" style="background-image: url(assets/images/demo/category-3.jpg)"></span>
                    <div class="card-footer">
                        <span class="btn btn-white btn-action">Watches <span
                                class="icon-arrow-right"></span></span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4">
                <a href="#!" class="card card-equal card-scale">
                    <span class="image" style="background-image: url(assets/images/demo/category-4.jpg)"></span>
                    <div class="card-footer">
                        <span class="btn btn-white btn-action">Footwear <span
                                class="icon-arrow-right"></span></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#!" class="card card-equal card-scale">
                    <span class="image" style="background-image: url(assets/images/demo/category-5.jpg)"></span>
                    <div class="card-footer">
                        <span class="btn btn-white btn-action">Belts <span
                                class="icon-arrow-right"></span></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a [routerLink]="['/shop','all-categories']" class="btn btn-outline-secondary">See more</a>
            </div>
        </div>
    </div>
</section>

<!-- Trending -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Trending on Neomall</h2>
      </div>
    </div>
    <div class="row gutter-2 gutter-md-3">

      <div class="col-6 col-lg-3">
        <div class="product">
          <figure class="product-image">
            <a routerLink="['/item', 'Fawn Wool / Natural Mammoth Chair']" [queryParams]="{item_id: '565'}"
            queryParamsHandling="merge">
              <img src="assets/images/demo/product-1.jpg" alt="Image">
              <img src="assets/images/demo/product-1-2.jpg" alt="Image">
            </a>
          </figure>
          <div class="product-meta">
            <h3 class="product-title"><a routerLink="['/item', 'Fawn Wool / Natural Mammoth Chair']" [queryParams]="{item_id: '565'}"
              queryParamsHandling="merge">Fawn Wool / Natural Mammoth Chair </a></h3>
            <div class="product-price">
              <span>$2,268</span>
              <span class="product-action">
                <a href="#!">Add to cart</a>
              </span>
            </div>
            <a href="#!" class="product-like"></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="product">
          <figure class="product-image">
            <div class="owl-carousel" data-nav="true" data-loop="true">
              <a href="#!">
                <img src="assets/images/demo/product-2.jpg" alt="Image">
              </a>
              <a href="#!">
                <img src="assets/images/demo/product-2-2.jpg" alt="Image">
              </a>
              <a href="#!">
                <img src="assets/images/demo/product-2-3.jpg" alt="Image">
              </a>
            </div>
          </figure>
          <div class="product-meta">
            <h3 class="product-title"><a href="#!">Dark Stained NY11 Dining Chair</a></h3>
            <div class="product-price">
              <span>$504</span>
              <span class="product-action">
                <a href="#!">Add to cart</a>
              </span>
            </div>
            <a href="#!" class="product-like"></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="product">
          <figure class="product-image">
            <a href="#!">
              <img src="assets/images/demo/product-3.jpg" alt="Image">
              <img src="assets/images/demo/product-3-2.jpg" alt="Image">
            </a>
          </figure>
          <div class="product-meta">
            <h3 class="product-title"><a href="#!">Black IC Pendant Light</a></h3>
            <div class="product-price">
              <span>$410</span>
              <span class="product-action">
                <a href="#!">Add to cart</a>
              </span>
            </div>
            <a href="#!" class="product-like"></a>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="product">
          <figure class="product-image">
            <span class="product-promo">-25%</span>
            <a href="#!">
              <img src="assets/images/demo/product-4.jpg" alt="Image">
              <img src="assets/images/demo/product-4-2.jpg" alt="Image">
            </a>
          </figure>
          <div class="product-meta">
            <h3 class="product-title"><a href="#!">Red Analog Magazine Rack</a></h3>
            <div class="product-price">
              <span>$120</span>
              <span class="product-action">
                <a href="#!">Add to cart</a>
              </span>
            </div>
            <a href="#!" class="product-like"></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="product">
          <figure class="product-image">
            <a href="#!">
              <img src="assets/images/demo/product-5.jpg" alt="Image">
              <img src="assets/images/demo/product-5-2.jpg" alt="Image">
            </a>
          </figure>
          <div class="product-meta">
            <h3 class="product-title"><a href="#!">Black Piani Table Lamp</a></h3>
            <div class="product-price">
              <span>$290</span>
              <span class="product-action">
                <a href="#!">Add to cart</a>
              </span>
            </div>
            <a href="#!" class="product-like"></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="product">
          <figure class="product-image">
            <a href="#!">
              <img src="assets/images/demo/product-6.jpg" alt="Image">
              <img src="assets/images/demo/product-6-2.jpg" alt="Image">
            </a>
          </figure>
          <div class="product-meta">
            <h3 class="product-title"><a href="#!">Grey Pendant Bell Lamp</a></h3>
            <div class="product-price">
              <span>$258</span>
              <span class="product-action">
                <a href="#!">Add to cart</a>
              </span>
            </div>
            <a href="#!" class="product-like"></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="product">
          <figure class="product-image">
            <a href="#!">
              <img src="assets/images/demo/product-25.jpg" alt="Image">
              <img src="assets/images/demo/product-25-2.jpg" alt="Image">
            </a>
          </figure>
          <div class="product-meta">
            <h3 class="product-title"><a href="#!">Gravel Black Sigg Water Bottle</a></h3>
            <div class="product-price">
              <span>$23</span>
              <span class="product-action">
                <a href="#!">Add to cart</a>
              </span>
            </div>
            <a href="#!" class="product-like"></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="product">
          <figure class="product-image">
            <a href="#!">
              <img src="assets/images/demo/product-7.jpg" alt="Image">
              <img src="assets/images/demo/product-7-2.jpg" alt="Image">
            </a>
          </figure>
          <div class="product-meta">
            <h3 class="product-title"><a href="#!">Garnet Must Sofa</a></h3>
            <div class="product-price">
              <span>$4,668</span>
              <span class="product-action">
                <a href="#!">Add to cart</a>
              </span>
            </div>
            <a href="#!" class="product-like"></a>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col text-center">
        <a routerLink='/shop' class="btn btn-outline-secondary">Shop Now</a>
      </div>
    </div>
  </div>
</section>